body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    /* background-image: url(bg2.jpg); */

}
a{
    text-decoration: none;
   
    
}

ul{
    margin: 0;
    padding: 0%;
    list-style: none;
}
.icons{
    width: 1.5rem;
    margin-right: 5px;

}
